body{
    background-color: #f0f0f0;
}
.top{
    background-color: white;
    height: auto;
    width: 100%;
    position: fixed; /*固定在顶部*/
    top: 0;/*离顶部的距离为0*/
    padding: 5px;
    margin-left: -10px;
    display: flex;
   
    align-items: center;
}
.top img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    padding-right: 20px;
}
.content{
    width: 100%;
    height: 450px;
    background-color: #000000;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1{
    width: 100%;
    display: flex;
    
}
.box2{
    display: flex;
    width: 33%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    color: white;
}
.box2 img{
    width: 80px;
    height: 80px;
}
.addfile{
    display: flex;
    width: 300px;
    height: 60px;
    background-color: white;
    margin-top: 55px;
    border-radius: 30px;
    align-items: center;
    box-shadow: 12px 12px 2px 1px rgba(117, 117, 120, 0.2);
    align-items: center;

}
.addfile img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    
}
.addfile h3{
    margin-left: 60px;
    margin-top: 35px;
}
.loading-status {
    width: 75%;
    border: 1px #669CB8 solid;
    box-shadow: 0px 2px 2px #D0D4D6;
    height: 15px;
    border-radius: 10px;
    padding: 1px;
}
.process {
    background-color: white;
    
    height: 100%;
    border-radius: 10px;
}
.box3{
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
}
.box4{
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid rgb(231, 230, 229);
    border-radius: 8px;
}
.box4 img{
    width: 30px;
    height: 30px;
    margin-left: 40px;
}
.box4 button{
    color: #2380d2;
    background-color: #000000;
    border: #285e8e solid 1px;
   border-radius: 8px;
    margin-right: 20px;
    width: 80px;
    height: 30px;
}
.box3 span{
    margin-left: 30px;
}
.box5{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.rtx{
    margin-left: auto;
    margin-right: 20px;
    color: #285e8e;

}
.filechose{
    border: none;
    display: none;
    visibility: hidden;
}
.txt1{
    padding: 20px;
}
.upload{
    background-color: #000000;
    margin-left: 20px;
    margin-top: 0px;
    color:white;
    border: 1px solid white;
}
.txt2{
    width: 20%;
    justify-content: center;
    text-align: center;
    margin-left: 16%;
    
}
.rag{
    outline: none; /*去掉点击时出现的外边框*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /*这三个是去掉那条线原有的默认样式，划重点！！*/
    margin-top: 20px;
    height: 0.6rem;
    width: 90vw;
    /*background: #000000;*/
    background: linear-gradient(to right, 
    rgb(248, 246, 246) 0%, rgb(249, 247, 247) 32%, 
    rgb(185, 184, 183) 32%,rgb(184, 184, 182) 64%,
    #5c5c5c 64%, #585959 96%, 
    rgb(35, 35, 35) 96%, rgb(29, 30, 29) 100%);
    border-radius: 0.3rem;
    
}
input[type="range"]::-webkit-slider-thumb {
    /*::-webkit-slider-thumb是代表给滑块的样式进行变更*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /*//这三个是去掉滑块原有的默认样式，划重点！！*/
    -webkit-box-shadow:0 0 2px ; /*设置滑块的阴影*/
    width: 16px;
    height:16px;
    border-radius: 8px;
    background-color: grey;
    
    /*//这几个是设置滑块的样式*/
}
.box6{
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.box7{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: large;
    margin-top: 20px;
}
.txt3{
    color: gray;
    margin-left: 30px;
}
.checkbox{
    width: 15px;
    height: 15px;
    margin-left: 40px;
}